$body-bg: #fbfbfb;
$primary: #cf2406;
$enable-rounded: true;
$variable-prefix: '';
$body-color: #434343;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.clickable {
    cursor: pointer;
}

.grecaptcha-badge {
    visibility: hidden;
}

@import "bootstrap/scss/bootstrap.scss";