$body-bg: #fbfbfb;
$primary: #cf2406;
$enable-rounded: true;
$variable-prefix: '';
$body-color: #434343;
 
// $secondary: #e8e8e8;
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;
// $light: $gray-100;
// $dark: $gray-900;

@import "bootstrap/scss/bootstrap";
